
a, a:visited {
    color: #1cabe2;
    text-decoration: none;
	font-size: 14px;
}

input.large {
 font-size: 26px;
 padding: 6px;
}

.panel {
    margin-top: 1em;
    background-color: #fff;
	border: none;
}

.panel-default>.panel-heading {
    border-bottom: 1px solid grey;
	background-color: #fff;
}

.btn.btn-default {
    display: inline-block;
    clear: both;
    font-size: 17px;
    padding: 10px 20px;
    margin: 10px 0;
    color: white;
    background: #f98d16;
    cursor: pointer;
	border: 1px solid #FFF;
	border-radius: 0;
}

.btn.btn-default:hover {
border: 1px solid #f98d16;
}

.card {
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	margin-top: 20px;
}

.card-header {
	clear: both;
	margin-top: 40px;
}

.card-content {
}

.card-footer {
}

.card-content .content {
}

.panel-body {
	
}

.note-list {
}

.note-list .box {
}
